<!-- <div class="content">
    <div class="txt_name">Server 1</div>
    <div class="list_hw">
        <div class="chart_cpu">
            <div class="content_hw">
                <div class="txt_type">CPU</div>
                <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
            </div>
        </div>
        <div class="chart_cpu">
            <div class="content_hw">
                <div class="txt_type">GPU</div>
                <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
            </div>
        </div>
        <div class="chart_cpu">
            <div class="content_hw">
                <div class="txt_type">RAM</div>
                <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
            </div>
        </div>
    </div>
</div> -->